@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0}
ul, li{ list-style:none;}

#flash{ width:800px; margin:0 auto; margin-top:30px;}
#bigimg{ width:800px; height:800px; overflow:hidden; position:relative;}
#pre{ display:block; width:73px; height:74px; overflow:hidden; background:url(img/hover_left.png) no-repeat; position:absolute; top:350px; left:20px;z-index:9999; filter:alpha(opacity:0); opacity:0;}
#next{ display:block; width:73px; height:74px; overflow:hidden; background:url(img/hover_right.png) no-repeat; position:absolute; top:350px; right:20px; z-index:9999;filter:alpha(opacity:0); opacity:0;}
#mark-left{ width:400px; height:800px; overflow:hidden; position:absolute; top:0; left:0; z-index:9;}
#mark-right{ width:400px; height:800px; overflow:hidden; position:absolute; top:0; right:0; z-index:9;}
#bigimg li{ width:800px; height:800px; overflow:hidden; position:absolute; top:0; left:0;}
#smallimg{ width:800px; height:200px; overflow:hidden; margin-top:5px; position:relative;}
#smallimg li{ width:200px; height:200px; overflow:hidden; float:left; filter:alpha(opactity:30); opacity:0.3;}